<%- include('../partials/header') %>
<h1 class="align-center">Update Video</h1>

<form action="/videos/<%= video._id %>?_method=PUT" method="POST">
  <div class="form-group">
    <label for="projectName">Project Name</label>
    <input type="text" class="form-control" name="projectName" id="projectName" value="<%= video.projectName %>">
  </div>
  <div class="form-group">
    <label for="docket">Docket</label>
    <input type="number" class="form-control" id="docket" name="docket" value="<%= video.docket %>">
  </div>
  <div class="form-group">
    <label for="version">Edit Version</label>
    <input type="number" class="form-control" id="version" name="version" value="<%= video.version %>">
  </div>
  <div class="form-group">
    <label for="colourStatus">Colour Status</label>
    <select class="form-control" name="colourStatus" id="colourStatus">
      <option value="false">Uncoloured - Proxy</option>
      <option value="true">Coloured</option>
    </select>
  </div>
  <div class="form-group">
    <label for="audioStatus">Audio Status</label>
    <select class="form-control" name="audioStatus" id="audioStatus">
      <option value="false">Unmixed</option>
      <option value="true">Mixed</option>
    </select>
  </div>
  <div class="form-group">
    <label for="approved">Approval Status</label>
    <select class="form-control" name="approved" id="approved">
      <option value="false">In Progress</option>
      <option value="true">Approved</option>
    </select>
  </div>
  <div class="form-group">
    <label for="url">Video URL</label>
    <input type="text" class="form-control" name="url" id="url" value="<%= video.url %>">
  </div>
  <input type="submit" class="btn btn-primary" value="Update Video">
</form>



</body>
</html>