<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <section id="show-page">
    <div>Title:</div>
    <div><%= video.projectName %></div>
    <div>Docket</div>
    <div><%= video.docket %></div>
    <div>Version</div>
    <div><%= video.version %></div>
    <div>Colour Status</div>
    <div><%= video.colourStatus %></div>
    <div>Audio Status</div>
    <div><%= video.audioStatus %></div>
    <div>Approval Status</div>
    <div><%= video.approved %></div>
    <div>URL</div>
    <div><%= video.url %></div>
  </section>
</body>
</html>