<%- include('../partials/header') %>
  <section id="show-page">
    <div>Title:</div>
    <div><%= video.projectName %></div>
    <div>Docket</div>
    <div><%= video.docket %></div>
    <div>Version</div>
    <div><%= video.version %></div>
    <div>Colour Status</div>
    <div><%= video.colourStatus %></div>
    <div>Audio Status</div>
    <div><%= video.audioStatus %></div>
    <div>Approval Status</div>
    <div><%= video.approved %></div>
    <a href="/videos/<%= video._id %>/edit">Edit</a>
  </section>

<div id="video-player">
  <!-- <iframe src="<%= video.url %>"> </iframe> -->
  <iframe src="https://player.vimeo.com/video/<%= video.vimeoId %>" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>

  <!-- Add Comment -->
  <h3>Comments</h3>
  <form id="add-comment-form" method="POST" action="/videos/<%= video._id %>/comments">
    <label>Timecode (frames)</label>
    <input type="number" name="timecode">
    <label>Comment:</label>
    <textarea name="content"></textarea>
    <input type="submit" value="Add Comment">
  </form>

  <!-- Comments View -->
  <% if (video.comments.length) { %>
    <table>

      <thead>
        <tr>
          <th>Timecode</th>
          <th>Comment</th>
          <th>Date</th>
          <!-- <th>Reply</th> -->
        </tr>
      </thead>

      <tbody>
        <% video.comments.forEach(function(comment) { %>
          <tr>
            <td><%= comment.timecode %></td>
            <td><%= comment.content %></td>
            <td><%= comment.createdAt.toLocaleDateString() %> <%= comment.createdAt.toLocaleTimeString([], { hour12: false, hour: '2-digit', minute: '2-digit' }) %></td>
            <!-- <td>
              <form method="POST" action="/videos/<%= video._id %>/comments">
                <textarea name="content" id="reply-content"></textarea>
                <input type="submit" value="Reply">
              </form>
          </td> -->
          </tr>
       <% }); %>
      </tbody>
    
    </table>
    <% } else { %>
      <h5>No Comments</h5>
    <% }; %>

    <form action="/videos/<%= video._id %>?_method=DELETE" method="POST" class="secondary-content">
      <button type="submit" class="btn-small red-text">Delete Project</button>
    </form>
</body>
</html>