<%- include('../partials/header') %>
<h1 class="text-center"><%= video.projectName %></h4>
<ul class="list-group list-group-horizontal">
  <li class="list-group-item flex-fill">
    <div>Docket</div>
    <div><%= video.docket %></div>
  </li>
  <li class="list-group-item flex-fill">
    <div>Version</div>
    <div><%= video.version %></div>
  </li>
  <li class="list-group-item flex-fill">
    <div>Colour Status</div>
    <div><% if(video.colourStatus) { %>
      Coloured
    <% } else { %>
      Uncoloured
    <% }; %></div>
  </li>
  <li class="list-group-item flex-fill">
    <div>Audio Status</div>
    <div><% if(video.audioStatus) { %>
      Mixed
    <% } else { %>
      Unmixed
    <% }; %></div>
  </li>
  <li class="list-group-item <% if(video.approved) { %>list-group-item-success<% } %> flex-fill">
    <div>Approval Status</div>
    <div><% if(video.approved) { %>
      Approved
    <% } else { %>
      In Progress
    <% } %></div>
  </li>
  <li class="list-group-item flex-fill">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Settings
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <% if (isVideoCreator) { %>
          <a class="dropdown-item" href="/videos/<%= video._id %>/edit">Update</a>
          
          <form action="/videos/<%= video._id %>?_method=DELETE" method="POST" class="secondary-content dropdown-item">
            <button type="submit" class="btn-small btn-danger">Delete Project</button>
          </form>
        <% }; %>
      </div>
    </div>
  </li>
</ul>
  
<div class="media">
  <div class="align-self-center mr-3 embed-responsive embed-responsive-16by9">
    <div id="video-player">
      <!-- <iframe src="<%= video.url %>"> </iframe> -->
      <iframe embed-responsive-item src="https://player.vimeo.com/video/<%= video.vimeoId %>" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div>  
  <div class="media-body">
    <h5 class="mt-5">Comments</h5>
      <% if (video.comments.length) { %>
        <table>
    
          <thead>
            <tr>
              <th>Timecode</th>
              <th>Comment</th>
              <th></th>
              <th></th>
              <!-- TODO: <th>Status</th> -->
            </tr>
          </thead>
    
          <tbody>
            <% video.comments.forEach(function(comment) { %>
              <tr>
                <td><form action="/videos/<%= video._id %>">
                  <a href="#"><%= comment.timecode %></a></td>
                </form>
                <td><%= comment.content %></td>
                <td>from <%= comment.user %></td>
                <td>@ <%= comment.createdAt.toLocaleDateString() %> <%= comment.createdAt.toLocaleTimeString([], { hour12: false, hour: '2-digit', minute: '2-digit' }) %></td>
              </tr>
           <% }); %>
          </tbody>
        
        </table>
        <% } else { %>
          <p>No Comments</p>
        <% }; %>
    </div>
</div>
<% if (user) { %>
<form id="add-comment-form" method="POST" action="/videos/<%= video._id %>/comments">
  <div class="form-group">
    <label for="timecode">Timecode (frames)</label>
    <input type="number" name="timecode" class="form-control" id="timecodeForm" placeholder="#">
  </div>
  <div class="form-group">
    <label for="comment">Comment</label>
    <textarea name="content" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-success" >Add Comment</button>
</form>
<% } else { %>
  <h5>Must be Logged In to Comment</h5>
<% }; %>

</body>
</html>